.navbar-absolute {
    @apply
    absolute
    w-full
    z-40
    mx-0
    xl:px-40
}

.navbar {
    @apply 
    w-full
    px-6
    bg-black
    md:px-10
    xl:px-40
}


.nav-list-mobile{
    @apply
    flex
    justify-between  
    items-center
    h-full  
    border-b-[1px]
    border-white/50
    lg:hidden
    
}

.nav-list-desktop{
    @apply
    flex
    justify-between  
    items-center
    h-full  
    px-6
    py-8
  
    border-b-[1px]
    border-white/50
    xs:hidden
    lg:flex
  
}

.nav-list-desktop-absolute{
    @apply
    flex
    justify-between  
    items-center
    border-b-[1px]
    border-white/50
    px-6
    py-8
    w-full
    h-full  
    xs:hidden
    lg:flex

}

.nav-list-absolute{
    @apply
    flex
    justify-between  
    items-center
    h-full  
    lg:hidden
}

.page-header {
    @apply
    text-center
    bg-black
    py-8 
    px-[84px] 
    text-white 
    uppercase 
    font-semibold 
    text-[28px] 
    tracking-[2px]
}